#con {
    margin: 10px auto;
    max-width: fit-content;
    border-radius: 5px;
}
  
#field {
    border-radius: 5px;
    background-image: url(./field.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    margin: 10px;
    box-shadow: 0 0 0.75rem gray;
    border: 1px solid black;
}
  
#controll {
    margin: 10px;
    font-size: 16px;
}
  
#run {
    margin-right: 10px;
    height: 60px;
    border-radius: 15px;
}
  
#ball {
    border-radius: 50%;
    background-size: cover;
    transition: transform 0.1s linear;
}

.animation-button{
    display: flex;
    align-items: flex-start;
    justify-content: center;

}

.animation2-button button{
    margin: 0.5rem;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
